@mixin etude($couleur) {
  $hauteur-ligne: 115px;
  //$couleur-fonce: rgba(0, 0, 0, 0.1);
  $couleur-fonce: #960c00;
  background-image: linear-gradient( //9 blocs de haut
      2deg,
      transparent 0,
      transparent $hauteur-ligne,
      $couleur $hauteur-ligne,
      $couleur $hauteur-ligne*2,
      $couleur-fonce $hauteur-ligne*2,
      $couleur-fonce $hauteur-ligne*3,
      $couleur $hauteur-ligne*3,
      $couleur $hauteur-ligne*4,
      $couleur-fonce $hauteur-ligne*4,
      $couleur-fonce $hauteur-ligne*5,
      $couleur $hauteur-ligne*5,
      $couleur $hauteur-ligne*6,
      $couleur-fonce $hauteur-ligne*6,
      $couleur-fonce $hauteur-ligne*7,
      $couleur $hauteur-ligne*7,
      $couleur $hauteur-ligne*8,
      $couleur-fonce $hauteur-ligne*8,
      $couleur-fonce $hauteur-ligne*9,
      $couleur $hauteur-ligne*9,
      $couleur $hauteur-ligne*10,
      transparent $hauteur-ligne*10,
      transparent $hauteur-ligne*11
    );
    background-position: left -115px;
    //background-size: 100% 1265px; // 115*11=1265
}

.normes-ul-etude {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  &.faaad { @include etude($ul-couleur-faaad); }
  &.fad { @include etude($ul-couleur-fad); }
  &.fd { @include etude($ul-couleur-fd); }
  &.fesp { @include etude($ul-couleur-fesp); }
  &.ffgg { @include etude($ul-couleur-ffgg); }
  &.hei { @include etude($ul-couleur-hei); }
  &.flsh { @include etude($ul-couleur-flsh); }
  &.fm { @include etude($ul-couleur-fm); }
  &.fmd { @include etude($ul-couleur-fmd); }
  &.fmus { @include etude($ul-couleur-fmus); }
  &.fpha { @include etude($ul-couleur-fpha); }
  &.fp { @include etude($ul-couleur-fp); }
  &.fsa { @include etude($ul-couleur-alt-fsa); } //À noter: on utilise ici une couleur alternative
  &.fsaa { @include etude($ul-couleur-fsaa); }
  &.fse { @include etude($ul-couleur-fse); }
  &.fsg { @include etude($ul-couleur-fsg); }
  &.fsi { @include etude($ul-couleur-fsi); }
  &.fss { @include etude($ul-couleur-fss); }
  &.ftsr { @include etude($ul-couleur-ftsr); }
  &.bibliotheque { @include etude($ul-couleur-bibliotheque); }
  &.peps { @include etude($ul-couleur-peps); }
  &.ro { @include etude($ul-couleur-ro); }
}

@media (min-width: $lg) {
  .normes-ul-etude {
    //min-height: 1035px;
    min-height: 1265px; // 115 (hauteur des lignes) x 11 (9 blocs de couleurs + 1 transparent au début et un à la fin) = 1265
  }
}
