table {
  background-color: #fff;
  border-bottom: 4px solid $ul-gris-moyen-02;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 4px solid $ul-gris-moyen-02;
  margin: 0 0 $goutiere 0;
  max-width: 100%;
  overflow-x: auto;
}

th,
td {
  border-bottom: 1px solid $ul-gris-pale-02;
  border-right: 1px solid $ul-gris-pale-02;
  padding: 10px $goutiere/2;
  vertical-align: top;
}

th,
thead td {
  background-color: $ul-gris-moyen-01;
  font-weight: 700;
  text-align: left;

  p {
    font-weight: 700;
  }
}

thead th,
thead td,
//entête de colonne d'un tableau sans thead
tr:first-child th,
tr:first-child td {
  padding-top: 6px; //4px de moins pour donner l'effet que c'est pareil avec la bordure du tableau
}

th *:last-child,
td *:last-child {
  margin-bottom: 0;
}

th:last-of-type,
td:last-of-type {
  border-right: none;
}

tr:nth-child(even) {
  background-color: $ul-gris-pale-01;
}

tbody {
  border: none;
}
