@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900); //Les autres graisses sont chargées dans les normes (_entete.scss)

html {
  font-size: 62.5%;
  line-height: 1.37555;
}

body {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

a,
a:active,
a:visited {
  color: $ul-bleu-ul;
  text-decoration: none;
}

a:hover {
  color: $ul-bleu-ul;
  text-decoration: underline;
}

:focus {
  outline: none !important; // Évite l'ajout d'un halo bleu autour du lien dans Safari
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin: 0 0 $marge-texte 0;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: center;
}

h2 {
  font-size: 2.6rem;
  line-height: 3rem;
}

h1,
h2.accent {
  &::after {
    background-color: $ul-rouge-ul;
    content: "";
    display: block;
    height: 4px;
    margin: $marge-texte auto 0 auto;
    width: 40px;
  }
}

h2.accent::after {
  margin-left: 0;
  margin-right: 0;
}

h2.centre {
  text-align: center;

  &::after {
    margin-left: auto;
    margin-right: auto;
  }
}

h3 {
  font-size: 2.2rem;
  line-height: 2.8rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

h5 {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

h6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin: 0 0 $marge-texte 0;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin: 0 0 25px 0;
}

ul,
ol {
  font-size: 1.6rem;
  margin: 0 0 25px 0;
  padding: 0 0 0 $marge-texte;

  ul,
  ol {
    margin: 15px 0 0 0;
  }
}

li {
  line-height: 2rem;
  margin: 0 0 15px 0;
}

main ul li {
  list-style-type: disc; //Pour que le 2e niveau soit aussi un disque plein au lieu d'un vide
}
